# Prerequisites
*.d
.env
.env.*
docker/.env
auth-service/.env
messaging-service/.env

# CMake files
CMakeCache.txt
CMakeFiles/
cmake-build-*/
*.cmake.user
*.cmake.install.cmake
Makefile
cmake_install.cmake


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.idea/
*.iml
*.iws
out/

# -------------------------------
# Visual Studio / MSVC
# -------------------------------
*.suo
*.user
*.vcxproj.user
*.pdb
*.obj
*.exe
*.ilk
*.idb
*.log
*.iobj
*.ipdb
*.aps
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.ipch
*.res
*.rsp
*.tlog

# -------------------------------
# vcpkg
# -------------------------------
/vcpkg/installed/