name: SonarCloud

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Outils de build de base
      - name: Install build tools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ninja-build unzip curl git

      # Installer vcpkg
      - name: Install vcpkg
        run: |
          git clone https://github.com/microsoft/vcpkg.git "${{ github.workspace }}/vcpkg"
          "${{ github.workspace }}/vcpkg/bootstrap-vcpkg.sh" -disableMetrics

      # Dépendances C++ via vcpkg (Drogon + CURL)
      - name: Install Drogon and CURL (vcpkg)
        run: |
          "${{ github.workspace }}/vcpkg/vcpkg" install drogon curl[openssl] --triplet x64-linux

      # Récupérer le build-wrapper SonarCloud (Linux)
      - name: Download build-wrapper
        run: |
          curl -sSLo bw.zip https://sonarcloud.io/static/cpp/build-wrapper-linux-x86.zip
          unzip -q bw.zip

      # Configure CMake (NON wrapé)
      - name: Configure project
        run: |
          rm -rf build bw-output
          cmake -S . -B build -G Ninja \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake" \
            -DVCPKG_TARGET_TRIPLET=x64-linux \
            -DCMAKE_FIND_PACKAGE_PREFER_CONFIG=ON

      # Build (WRAPÉ) -> alimente bw-output/ pour SonarCFamily
      - name: Build (wrapped)
        run: |
          ./build-wrapper-linux-x86/build-wrapper-linux-x86-64 \
            --out-dir bw-output \
            ninja -C build

      # Scan SonarCloud (ton step existant, inchangé)
      - name: Run SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.organization=secure-cloud
            -Dsonar.projectKey=barbara-vanni_secure-cloud
            -Dsonar.projectVersion=${{ github.run_number }}
            -Dsonar.cfamily.build-wrapper-output=bw-output
            -Dsonar.exclusions=${{ steps.excl.outputs.exclusions }}
            -Dsonar.verbose=true